<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercari Notifier</title>
</head>
<body>
    <h1>Mercari Notifier</h1>
    <form onsubmit="event.preventDefault(); fetchListings();">
        <input id="search-input" type="text" name="search_query" placeholder="Enter search term" required>
        <button type="submit">Search</button>
    </form>

    <button id="enable-sound-btn" onclick="enableSound()">Enable Sound</button>
    
    <div id="listings">
        <!-- Listings will be dynamically inserted here -->
    </div>

    <!-- Link to the external JS file -->
    <script>
        // Pass static file path to JS
        const notificationSoundUrl = "{{ url_for('static', filename='notification.ogg') }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
